* {
	border: 0;
	margin: 0;
	padding: 0;
}

#background {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("little man.png");
	background-position: right 31px bottom;
	background-attachment: fixed;
	background-size: 100px;
	background-repeat: no-repeat;
	z-index: -100;
	background-color: blanchedalmond;
}

#header {
	height: 80px;
	margin: 0 -10%;
	width: 100%;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
	margin-bottom: 20px;
}

#header h1 {
	color: #888;
	font-size: 300%;
	letter-spacing: -3px;
	text-align: right;
	padding: 5px;
	margin-bottom: -10px;
}
#header h2 {
	color: #a6a6a6;
	font-size: 200%;
	letter-spacing: -2px;
	text-align: right;
}

#pages-container {
	margin: 0 20%;
}

#pages {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 100%;
	justify-items: center;
}

.pagelink {
	border: 2px solid black;
	padding: 5px;
	max-width: 450px;
	background-color: white;
}

.pagelink a, .pagelink iframe {
	width: 100%;
}

.pagelink img {
	position: relative;
	width: 100%;
}

.pagelink h3 {
	text-align: center;
	max-width: 600px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	padding-top: 10px;
	font: 120% Arial, Helvetica, "bitstream vera sans", sans-serif;
}


/*
@media (min-width: 600px) {
	a.pagelink {
		grid-template-columns: repeat(2, 1fr);
	}
}
*/